<div class="relative overflow-x-auto shadow-md sm:rounded-lg" *ngIf="bikes.length > 0">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            Listado de Bicis
        </caption>
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400" >
      <tr>
        <th scope="col" class="px-6 py-3">ID</th>
        <th scope="col" class="px-6 py-3">Ciudad</th>
        <th scope="col" class="px-6 py-3">Descripción</th>
        <th scope="col" class="px-6 py-3">Foto</th>
        <th scope="col" class="px-6 py-3">Agregar más fotos</th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700" *ngFor="let bike of bikes">
        <td class="px-6 py-4"> {{ bike.id }}</td>
        <td class="px-6 py-4"> {{ bike.address }}</td>
        <td class="px-6 py-4"> {{ bike.description }}</td>
        <td class="px-6 py-4"> 
            <img [src]="bike.photo" alt="Foto de la bicicleta" class="h-24" width="auto" height="auto"/>
        </td>
        <td class="px-6 py-4">
          <button type="submit" class="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Agregar</button>

        </td>
       
      </tr>
            
    </tbody>
  </table>
</div>

<!-- Mensaje si no hay bicicletas -->
<div *ngIf="bikes.length === 0">

  <p>No hay bicicletas para mostrar.</p>

</div>